 <div id="register_section" class="section mt-4">
        <h3>Register</h3>
        {% if error and section == 'register' %}
        <p class="text-danger">{{ error }}</p>
        {% endif %} {% if success_message and section == 'register' %}
        <p class="text-success">{{ success_message }}</p>
        {% endif %}
        <form
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'new_index' %}"
          onsubmit="return validateRegisterForm();"
        >
          {% csrf_token %}
          <input type="hidden" name="action" value="register" />
          <div class="row g-3">
            <div class="col-md-6">
              <label for="reg_firstname" class="form-label">First Name*</label>
              <input
                type="text"
                class="form-control"
                name="FirstName"
                id="reg_firstname"
                oninput="onlyAcceptAlphabets(this)"

                maxlength="15"
              />
              <small class="error"></small>
            </div>
            <div class="col-md-6">
              <label for="reg_lastname" class="form-label">Last Name*</label>
              <input
                type="text"
                class="form-control"
                name="LastName"
                id="reg_lastname"
                oninput="onlyAcceptAlphabets(this)"
                maxlength="18"
              />
              <small class="error"></small>
            </div>
          </div>
          <div class="row g-3 mt-2">
            <div class="col-md-6">
              <label for="reg_username" class="form-label">User Name*</label>
              <input
                type="text"
                name="username"
                class="form-control"
                id="reg_username"
                maxlength="10"
              />
              <small class="error"></small>
            </div>
            <div class="col-md-6">
              <label for="reg_password" class="form-label">Password*</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="reg_password"
                maxlength="10"
                minlength="6"
              />
              <small class="error"></small>
            </div>
          </div>
          <div class="row g-3 mt-2">
            <div class="col-md-6">
              <label for="reg_number" class="form-label">Number*</label>
              <input
                type="number"
                name="number"
                id="reg_number"
                maxlength="10"
                class="form-control"
              />
              <small class="error"></small>
            </div>
            <div class="col-md-6">
              <label for="reg_email" class="form-label">Email*</label>
              <input
                type="email"
                name="email"
                id="reg_email"
                class="form-control"
                maxlength="50"
              />
              <small class="error"></small>
            </div>
          </div>
          <div class="mt-3">
            <label for="reg_address" class="form-label">Address*</label>
            <input
              type="text"
              name="address"
              id="reg_address"
              class="form-control"
              maxlength="100"
            />
            <small class="error"></small>
          </div>
          <div class="row g-3 mt-2">
            <div class="col-md-6">
              <label for="reg_state" class="form-label">State*</label>
              <select id="reg_state" name="state" class="form-select">
                <option value="">Select state</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Rajasthan">Rajasthan</option>
              </select>
              <small class="error"></small>
            </div>
            <div class="col-md-6">
              <label for="reg_district" class="form-label">District*</label>
              <select id="reg_district" name="district" class="form-select">
                <option value="">-- Select District --</option>
              </select>
              <small class="error"></small>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="formFile" class="form-label"
              >Upload image (Optional)</label
            >
            <input
              class="form-control"
              type="file"
              name="image"
              id="formFile"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>