
body {
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error{
    height: 10px;
    width: 130px;
    margin-bottom: 10px;
    background-color: rgb(255, 153, 127);
}
#errornum{
    height: 10px;
    width: 130px;
    margin-bottom: 10px;
    background-color: rgb(255, 146, 132);
}