{% extends "nav.html" %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block body %}
<h2 class="p">Welcome Admin: {{ admin_name }}</h2>
    <h3>All Users</h3>
      {% comment %} <form class="d-flex" method="GET">
    <input class="form-control me-2" type="search" name="search" value="{{ request.GET.search }}" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> {% endcomment %}
    <table class="table table-dark table-striped">
        
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>District</th>
                <th>State</th>
                <th>Role</th>
                <th>Actions</th> <!-- New column -->
            </tr>

            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.district }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{% url 'delete_user' user.id %}"
                       onclick="return confirm('Are you sure you want to delete {{ user.username }}?');">
                       Delete
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="10">No users found.</td></tr>
            {% endfor %}
    </table>
    <div class="pagination">
    {% if users.has_previous %}
        <a href="?page=1"><i class="fa-regular fa-circle-left"></i></a>
        <a href="?page={{ users.previous_page_number }}"></a>
    {% endif %}

    <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span>

    {% if users.has_next %}
        <a href="?page={{ users.next_page_number }}"><i class="fa-regular fa-circle-right"></i></a>
        <a href="?page={{ users.paginator.num_pages }}"></a>
    {% endif %}
</div>

    <a href="{% url 'update_profile' %}">see your profile</a>
    {%endblock%}
</body>
</html>
