{% extends "nav.html" %}
{% load static %}
{% block tittle %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block body %}
    <!-- Regular Home Content -->
    <div class="main_content">
        {% if userdetails %}
            <h1>{{ userdetails.username }}</h1>
        {% else %}
            <h1>Hello world</h1>
        {% endif %}
    </div>
{% endblock %}
